*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

.dashboard__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}
@media (min-width: 1025px) {
  .dashboard__wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 310px auto;
    grid-template-columns: 310px auto;
    -ms-grid-rows: -webkit-max-content auto -webkit-max-content;
    -ms-grid-rows: max-content auto max-content;
    grid-template-rows: -webkit-max-content auto -webkit-max-content;
    grid-template-rows: max-content auto max-content;
  }
}

.main__wrapper {
  padding: 20px;
  background-color: #0b0e14;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}

.main-title {
  font-size: 25px;
  color: #fff;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 400;
}

.overlay__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  z-index: 10;
}
@media (min-width: 1025px) {
  .overlay__wrapper {
    display: none;
    width: 0;
    height: 0;
  }
}
.overlay__wrapper.active {
  opacity: 0.3;
  pointer-events: auto;
}

.header__wrapper {
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  top: 0;
  left: 0;
  padding: 20px;
  background-color: #161b22;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  z-index: 5;
}
@media (min-width: 1025px) {
  .header__wrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  margin-left: auto;
}
.header__link {
  color: #949494;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.header__link:focus {
  outline: 2px solid #8f2d00;
}
@media (hover: hover) {
  .header__link:hover {
    color: #e6e6e6;
  }
}

.aside__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #8f2d00;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  z-index: 10;
}
@media (min-width: 480px) {
  .aside__wrapper {
    max-width: 310px;
  }
}
@media (min-width: 1025px) {
  .aside__wrapper {
    position: relative;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    -webkit-transition: none;
    transition: none;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
}
.aside__wrapper.active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
.aside__nav {
  position: sticky;
  overflow-y: auto;
  max-height: 100vh;
  top: 0;
  left: 0;
  padding: 60px 20px 20px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
@media (min-width: 1025px) {
  .aside__nav {
    padding: 20px;
  }
}
.aside__nav::-webkit-scrollbar {
  display: none;
}
.aside__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.game__article {
  border: 1px solid rgba(255, 255, 255, 0.1);
  overflow: hidden;
  border-radius: 16px;
  height: 130px;
}
@media (hover: hover) {
  .game__article:hover .game__picture {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }
}
.game__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.game__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  z-index: 1;
}
.game__link:focus::before {
  border: 2px solid #8f2d00;
}
.game__picture, .game__picture img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.game__footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: auto;
}
.game__title {
  font-size: 16px;
  color: #fff;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.games__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
}
.games__list {
  display: -ms-grid;
  display: grid;
  margin: 0 auto;
  -ms-grid-columns: (minmax(115px, 150px))[2];
  grid-template-columns: repeat(2, minmax(115px, 150px));
  gap: 20px;
}
@media (min-width: 480px) {
  .games__list {
    -ms-grid-columns: (minmax(115px, 170px))[3];
    grid-template-columns: repeat(3, minmax(115px, 170px));
  }
}
@media (min-width: 1025px) {
  .games__list {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1230px) {
  .games__list {
    -ms-grid-columns: (1fr)[5];
    grid-template-columns: repeat(5, 1fr);
  }
}

.footer__wrapper {
  position: sticky;
  bottom: 0;
  left: 0;
  padding: 20px;
  background-color: #0b0e14;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  z-index: 1;
}
@media (min-width: 1025px) {
  .footer__wrapper {
    position: static;
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
}
.footer__title {
  color: #8b949e;
  font-size: 15px;
}

.menu-item__link {
  font-weight: 700;
  display: block;
  padding: 10px;
  color: #fff;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  border-radius: 30px;
  -ms-hyphens: auto;
      hyphens: auto;
}
.menu-item__link:focus {
  outline: 2px solid #95d9ff;
}
@media (hover: hover) {
  .menu-item__link:hover {
    color: #fff;
    background-color: #222;
  }
}

.burger__button {
  position: fixed;
  top: 20px;
  left: 20px;
  display: block;
  width: 25px;
  height: 21px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 15;
}
@media (min-width: 1025px) {
  .burger__button {
    display: none;
    z-index: 0;
  }
}
.burger__line {
  position: absolute;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #fff;
  border-radius: 2px;
  -webkit-transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger__line:first-child {
  top: 0;
}
.burger__line:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.burger__line:last-child {
  bottom: 0;
}
.burger__button.active .burger__line:nth-child(2) {
  opacity: 0;
}
.burger__button.active .burger__line:first-child, .burger__button.active .burger__line:last-child {
  top: 50%;
}
.burger__button.active .burger__line:first-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.burger__button.active .burger__line:last-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}