@use "./mixins";

.container {
  padding: 0 15px;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;

  @include mixins.responsive("md") {
    max-width: 640px;
  }

  @include mixins.responsive("lg") {
    max-width: 1025px;
  }

  @include mixins.responsive("xl") {
    max-width: 1230px;
  }
}
