@use "../../scss/base/vars";

.game {
  &__article {
    border: 1px solid rgba(255, 255, 255, 0.1);
    overflow: hidden;
    border-radius: 16px;
    height: 130px;
  }

  @media (hover: hover) {
    &__article:hover &__picture {
      transform: scale(1.2);
    }
  }

  &__link {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 16px;
      z-index: 1;
    }
  }

  &__link:focus {
    &::before {
      border: 2px solid vars.$outline-color;
    }
  }

  &__picture,
  &__picture img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform vars.$transition-setting;
  }

  &__footer {
    position: relative;
    display: flex;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: auto;
  }

  &__title {
    font-size: 16px;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
