@use "../../scss/base/mixins";

.header {
  &__wrapper {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: end;
    top: 0;
    left: 0;
    padding: 20px;
    background-color: #adfcc8;
    z-index: 5;

    @include mixins.responsive("lg") {
      justify-content: start;
    }
  }
}
