@use "../../scss/base/mixins";
@use "../../scss/base/vars";

.footer {
  &__wrapper {
    position: sticky;
    bottom: 0;
    left: 0;
    padding: 20px;
    background-color: vars.$footer-bg;
    border-top: 1px solid vars.$main-border-color;
    z-index: 1;

    @include mixins.responsive("lg") {
      position: static;
      grid-column: span 2;
    }
  }

  &__title {
    color: #8b949e;
    font-size: 15px;
  }
}
