@use "../../scss/base/mixins";

.footer {
  &__wrapper {
    position: sticky;
    bottom: 0;
    left: 0;
    padding: 20px;
    background-color: #adfcc8;

    @include mixins.responsive("lg") {
      position: static;
      grid-column: span 2;
    }
  }
}
